<div class="view">
  <input
    type="checkbox"
    checked={{todo.completed}}
    class="toggle"
    onchange={{action props.completeTodo}} />

  <label {{action 'didClickLabel' on='doubleClick'}}>
    {{todo.text}}
  </label>

  <button
    class="destroy"
    onclick={{action props.deleteTodo}}>
  </button>
</div>

{{input
  type='text'
  class='edit'
  value=todo.text
  blur=(action 'didFinishEditing')
  keyDown=(action 'handleKeydown')
}}
