<li class='{{if this.editing 'editing'}}'>
  <div class='view'>
    <input
      type='checkbox'
      checked={{@todo.completed}}
      class='toggle'
      onchange={{action this.toggleCompleted}} />

    <label {{action this.didClickLabel on='doubleClick'}}>
      {{@todo.text}}
    </label>

    <button class='destroy' {{action this.destroyTodo}}></button>
  </div>

  {{input
    type='text'
    class='edit'
    value=@todo.text
    blur=(action this.didFinishEditing)
    keyDown=(action this.handleKeyDown)
  }}
</li>
