<div class="view">
  <input
    type="checkbox"
    checked={{todo.completed}}
    class="toggle"
    onchange={{action (mut todo.completed)}} />

  <label {{action 'didClickLabel' on='doubleClick'}}>
    {{todo.text}}
  </label>

  <button class="destroy" onclick={{action 'destroyTodo'}}></button>
</div>

{{input
  type='text'
  class='edit'
  value=todo.text
  blur=(action 'didFinishEditing')
  keyDown=(action 'handleKeydown')
}}
