<div data-test-todo-id={{todo.id}} class="view">
  <input
    data-test-todo-completion-toggle
    type="checkbox"
    checked={{todo.completed}}
    class="toggle"
    onchange={{action (mut todo.completed) value='target.checked'}} />

  <label data-test-todo-label {{action 'didClickLabel'}}>
    {{todo.text}}
  </label>

  <button class="destroy" {{action 'destroyTodo'}}></button>
</div>

{{input
  data-test-todo-edit
  type='text'
  class='edit'
  value=todo.text
  blur=(action 'didFinishEditing')
  keyDown=(action 'handleKeydown')
}}
